@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/* basic page set */
* {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

body {
  background: linear-gradient(90deg, rgba(242,236,126,0.95) 0%, rgba(252,238,131,0.99) 25%, rgba(230,211,130,0.9) 50%, rgba(252,222,131,0.99) 75%, rgba(242,207,131,1) 95%);

  margin:0;

  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  margin:0;

  box-sizing: border-box;
}


/* menu bar set */
.container--menu {
  background-color: white;

  display: flex;
  flex-direction: row;
  align-items: center;

  margin:0;

  height:2rem;

  box-sizing: border-box;
}

.container--menu__logo {
  display: block;

  margin-left: 1rem;
  margin-right: auto;

  cursor: pointer;
}

.container--menu__button {
  background: none;

  display: block;

  font-size: 0.7rem;

  border: none;
  outline: none;

  margin-left: auto;
  margin-right: 1rem;

  cursor: pointer;
}
