@charset "UTF-8";
@import url('https://webfontworld.github.io/sandbox/SBAggro.css'); /* 주제 */
@import url('https://webfontworld.github.io/NexonFootballGothic/NexonFootballGothic.css'); /* 본문 */

 /* background */
  /* display */
  /* font */
  /* border, padding, margin */
  /* width, height */
  /* etc */

/* basic page set */
* {
  font-family: "SBAggro", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

body {
  margin:0;

  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  margin:0;

  box-sizing: border-box;
}


/* header set */
.container--header {
  background-color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;

  margin:0;

  height:2.5rem;
  width: 100vw;

  box-sizing: border-box;
}

.container--header__logo {
  display: block;

  margin-left: 1rem;
  margin-right: auto;

  cursor: pointer;
}

.container--header__button {
  background: none;

  display: block;

  font-size: 0.7rem;

  border: none;
  outline: none;

  margin-left: auto;
  margin-right: 1rem;

  cursor: pointer;
}


/* header set */
.container--image {
  display: block;
  margin-bottom: 2rem;

  width:100vw;
  height:100vh;
}

.container--image img {
  width:100vw;
  height:100vh;
}


/* body set */
.container--body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.container--body__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:4rem;

  margin-bottom: 2rem;
}

.container--body__list__slot {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding:0;
  margin:0;
  width: 16rem;

  border: 1px solid gray;
  outline: none;
  border-radius: 10px;

  transition: 0.2s ease;
  cursor: pointer;
  box-sizing: border-box;
}

.container--body__list__slot > img {
  display: flex;

  width: 16rem;
  border-radius: 9px 9px 0 0;
  box-sizing: border-box;

  margin-top: 0;
}

.container--body__list__slot > h2 {
  font-size: 1.5rem;
  text-align: left;
  margin: 1rem auto 0 1rem;

}

.container--body__list__slot > p {
  font-size: 0.8rem;
  font-family: "NexonFootballGothic", sans-serif;
  text-align: left;
  color:gray;
  margin: 1rem auto 2rem 1rem;

}

.container--body__list__slot:hover {
  box-shadow: 0px 0px 10px skyblue;
  transition: 0.2s ease;
  transform: scale(1.02);
}