<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>음지의 스포츠</title>

  <link rel="stylesheet" href="../static/css/detail.css">
</head>

<body>
  <div class="container">
    <section class="container--menu">
      <div class="container--menu__logo">음지의 스포츠</div>
      <button class="container--menu__button">스포츠 작성하기</button>
      <div class="container--menu__profile"></div>
    </section>
    <section class="container--body">
      <div class="container--body__content">
        <div class="content__leftdiv">
          <h1>종목 이름</h1>
          <div>
            <img
              src="https://img.olympicchannel.com/images/image/private/t_16-9_480/f_auto/v1538355600/primary/v9l1qhkr0foubpggpxwk"
              alt="sport defalut image">
          </div>
        </div>
        <div class="content__rightdiv">
          <div class="content__rightdiv__gerne">
            <h2>스포츠 장르</h2>
            <p></p>
          </div>
          <div class="content__rightdiv__context">
            <h2>종목 안내</h2>
            <p></p>
          </div>
          <div class="content__rightdiv__url">
            <h2>관련 링크</h2>
            <a></a>
          </div>
          <a link="/index.html"><button type="button">돌아가기</button></a>
        </div>
      </div>
    </section>
  </div>
</body>

</html>