<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>음지의 스포츠</title>

    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <div class="container">
        <section class="container--image">

            <div class="container--image__slidesshadow">
                <h1>우리 모두를 위한 스포츠,<br> 음지의 스포츠.</h1>
            </div>
            <div class="container--image__slides fade">
                <img src="https://images.unsplash.com/photo-1530870110042-98b2cb110834?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                    alt="surfing sports">
            </div>
            <div class="container--image__slides fade">
                <img src="https://images.unsplash.com/photo-1505619730259-b1288d154955?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                    alt="balance beam">
            </div>
            <div class="container--image__slides fade">
                <img src="https://images.unsplash.com/photo-1609773335024-be4301497ea9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                    alt="inline skate">
            </div>
            <div class="container--image__slides fade">
                <img src="https://images.unsplash.com/photo-1516226415502-d6624544376b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1139&q=80"
                    alt="ice hockey">
            </div>

            <button class="container--image__prevbtn">&#10094;</button>
            <button class="container--image__nextbtn">&#10095;</button>
        </section>
        <section class="container--body">
            <div class="container--body__filter">

            </div>
            <div class="container--body__list">
                {% for sport in sports_list %}
                <div class="list__outerSlot">
                    <div class="list__innerSlot">
                        <img src="{{ sport.url }}" alt="detail image">
                        <h2 class="list__slot__title">{{ sport.title }}</h2>
                        <p class="list__slot__keyword">{{ sport.keyword }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <script src="../static/js/main.js"></script>
        {% extends "header" %}
    </div>
</body>

</html>