<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>음지의 스포츠</title>

  <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
  <div class="container">
    <section class="container--image">
      <div class="container--image__slides fade">
        <img src="https://www.sendible.com/hubfs/Imported_Blog_Media/sm-olympic-campaigns-header.jpg" alt="">
      </div>
    </section>
    <section class="container--body">
      <div class="container--body__filter">

      </div>
      <div class="container--body__list">
        {% for sport in sports_list %}
        <div class="container--body__list__slot">
          <img src="{{ sport.url }}" alt="detail image">
          <h2 class="list__slot__title">{{ sport.title }}</h2>
          <p class="list__slot__keyword">{{ sport.keyword }}</p>
        </div>
        {% endfor %}
      </div>
    </section>
    {% extends "header" %}
  </div>
</body>

</html>